/.editorconfig export-ignore
/.eslintignore export-ignore
/.eslintrc export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.jshintrc export-ignore
/.nvmrc export-ignore
/.prettierignore export-ignore
/.stylelintrc export-ignore
/.yarnclean export-ignore
/CODE_OF_CONDUCT.md export-ignore
/gulp_global.yaml export-ignore
/package.json export-ignore
