{
  "overrides": [
    {
      "files": ["*.yaml", "*.yml", "*.php"],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "always"
      }
    }
  ],
  "plugins": [
    "@prettier/plugin-php"
  ]
}
